@import url("normalise.css");

@padding: 5px;
@color: #29366f;
@width: 100%;

body {
  width: 100%;

  #page {
    padding: 0 @padding;
    header {

      margin-top: 0px;
      background-color: @color;
      height: 250px;

      h1 {


        span{
          display: none;
        }
        a{
          background: url("../images/home/West%20Wickham_mens%20suit%20V2.jpg") no-repeat center center;
          display: block;
          width: 160px;
          height: 80px;
          margin: 0 auto;
          background-size: contain;

        }
      }

      nav {
        margin-top: 20px;
        width: auto;
        height: auto;


          #selector {

            ul{

              margin: 0 @padding;


              li{
                position: absolute;
                right: 0px;
                top: 100px;
                width: @width/3;
                outline: 0;

                float: left;
                text-align: center;
                font-size: 16px;


                a {
                  color: #000;
                  display: block;
                  padding: 17px 0;
                  text-decoration: none;

                }


              }
            }
          }
        #links {
          width: 100%;

          ul{
            margin: 0 @padding;

            li{
              width: @width/3;
              outline: 2px solid;

              float: left;
              text-align: center;
              font-size: 16px;


              a {
                color: #000;
                display: block;
                padding: 17px 0;
                text-decoration: none;

              }


            }
          }
        }
       }


    }
  #content {
    #slider {

    }
    #intro {

    }
    #col-3 {
      .fb-post {

      }
      .fb-title {

      }
    }
  }
    footer {


    }
  }
}

@media (min-width: 700px) {
  body{

    #page{
      width: 750px;
      margin: 0 auto;
      header{
        margin-top: 0px;
        height: 120px;
        h1{
          padding: 0px;
          span{
          }
          a{
            width: 245px;
            height: 120px;
            float: left;

          }

        }
        nav {
          margin-top: 0px;

          #selector{
            ul{
              li{
                a{

                }
              }
            }
          }
          #links{
            ul{
              margin-left: 265px;
              li{
                width: 80px;
                a{

                }
              }
            }
          }

        }
      }
      #content {
        #slider {

        }
        #intro {

        }
        #col-3 {
          .fb-post {

          }
          .fb-title {

          }
        }
      }
      footer {


      }
    }
  }
}

@media (width: 960px) {
body{
  #page{
    header{
      h1{
        span{
        }
        a{

        }

      }
      nav {
        #selector{
          ul{
            li{
              a{

              }
            }
          }
        }
        #links{
          ul{
            li{
              a{

              }
            }
          }
        }

      }
    }
    #content {
      #slider {

      }
      #intro {

      }
      #col-3 {
        .fb-post {

        }
        .fb-title {

        }
      }
    }
    footer {


    }
  }
}
}