@import url("normalise.css");
body {
  width: 100%;
}
body #page {
  padding: 0 5px;
}
body #page header {
  margin-top: 0px;
  background-color: #29366f;
  height: 250px;
}
body #page header h1 span {
  display: none;
}
body #page header h1 a {
  background: url("../images/home/West%20Wickham_mens%20suit%20V2.jpg") no-repeat center center;
  display: block;
  width: 160px;
  height: 80px;
  margin: 0 auto;
  background-size: contain;
}
body #page header nav {
  margin-top: 20px;
  width: auto;
  height: auto;
}
body #page header nav #selector ul {
  margin: 0 5px;
}
body #page header nav #selector ul li {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 33.33333333%;
  outline: 0;
  float: left;
  text-align: center;
  font-size: 16px;
}
body #page header nav #selector ul li a {
  color: #000;
  display: block;
  padding: 17px 0;
  text-decoration: none;
}
body #page header nav #links {
  width: 100%;
}
body #page header nav #links ul {
  margin: 0 5px;
}
body #page header nav #links ul li {
  width: 33.33333333%;
  outline: 2px solid;
  float: left;
  text-align: center;
  font-size: 16px;
}
body #page header nav #links ul li a {
  color: #000;
  display: block;
  padding: 17px 0;
  text-decoration: none;
}
@media (min-width: 700px) {
  body #page {
    width: 750px;
    margin: 0 auto;
  }
  body #page header {
    margin-top: 0px;
    height: 120px;
  }
  body #page header h1 {
    padding: 0px;
  }
  body #page header h1 a {
    width: 245px;
    height: 120px;
    float: left;
  }
  body #page header nav {
    margin-top: 0px;
  }
  body #page header nav #links ul {
    margin-left: 265px;
  }
  body #page header nav #links ul li {
    width: 80px;
  }
}
